$body-bg: #e5e5e5;
$primary: #a729c4;
$secondary: #f049af;
$danger: #eb5757;
$success: #27ae60;
$warning: #ff7f50;
$info: #5d5fef;
$dark: #281931;
$grey: #cbcbcb;
$dark-grey: #9c98a5;
$white: #fff;
$light: #e2d3ff;
$ponk: #fbadcf;
// $light: #e4def0;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "dark-grey": $dark-grey,
  "white": $white,
  "light": $light
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
